In [1]:
2+3

5

In [2]:
numericarray=[23,24,45,67,78]
print(numericarray)
stringarray=['AAA',"c","john"]
print(stringarray)

[23, 24, 45, 67, 78]
['AAA', 'c', 'john']

In [3]:
combinearray=["Arun",'30']
print(combinearray)

['Arun', '30']

In [4]:
numerictupple=(12,23,34,5,6,7)
print(numerictupple)

(12, 23, 34, 5, 6, 7)

In [5]:
numset={12,23,23,34,5,6,7}
print(numset)

{34, 5, 6, 7, 12, 23}

In [6]:
dict={'Arun':30,'Mounika':28}
print(dict)

{'Arun': 30, 'Mounika': 28}

In [7]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
# Last line is to visualise the graphs after running the cell

In [8]:
# Create a Folder any where on sysntem and name it "Python"
# Folder path - Right Click on Folder - Get info - Where - Copy ('/Users/arunguptas/Downloads')
# Object name - file path with folder name
#Setting up Working directory
import io
%cd '/Users/arunguptas/Downloads/Python'
# Windows "" and Mac ''

/Users/arunguptas/Downloads/Python

In [9]:
arun_carsales=pd.read_csv('usedcarsales.csv')

# arun_carsales is the name assigned to dataframe. Assign any alphanumeric name
# pd refers to pandas lib
# read_csv() if function name for importing csv file
# usedcarsales.csv is filename with filetype extension

In [10]:
arun_carsales.head()

# By default display first 5 rows of data

# carsales - dataframe name
# head() - function name
#Python starts with Zero. There is zero Row and Zero column.

,Unnamed: 0,Price,Age,KM,FuelType,HP,MetColor,Automatic,CC,Doors,Weight,AutoType,MetColorType
0,1,13500,23,46986,Diesel,90,1,0,2000,3,1165,Manual,Metcolor
1,2,13750,23,72937,Diesel,90,1,0,2000,3,1165,Manual,Metcolor
2,3,13950,24,41711,Diesel,90,1,0,2000,3,1165,Manual,Metcolor
3,4,14950,26,48000,Diesel,90,0,0,2000,3,1165,Manual,NonMetcolor
4,5,13750,30,38500,Diesel,90,0,0,2000,3,1170,Manual,NonMetcolor

In [11]:
arun_carsales.head(15)

,Unnamed: 0,Price,Age,KM,FuelType,HP,MetColor,Automatic,CC,Doors,Weight,AutoType,MetColorType
0,1,13500,23,46986,Diesel,90,1,0,2000,3,1165,Manual,Metcolor
1,2,13750,23,72937,Diesel,90,1,0,2000,3,1165,Manual,Metcolor
2,3,13950,24,41711,Diesel,90,1,0,2000,3,1165,Manual,Metcolor
3,4,14950,26,48000,Diesel,90,0,0,2000,3,1165,Manual,NonMetcolor
4,5,13750,30,38500,Diesel,90,0,0,2000,3,1170,Manual,NonMetcolor
5,6,12950,32,61000,Diesel,90,0,0,2000,3,1170,Manual,NonMetcolor
6,7,16900,27,94612,Diesel,90,1,0,2000,3,1245,Manual,Metcolor
7,8,18600,30,75889,Diesel,90,1,0,2000,3,1245,Manual,Metcolor
8,9,21500,27,19700,Petrol,192,0,0,1800,3,1185,Manual,NonMetcolor
9,10,12950,23,71138,Diesel,69,0,0,1900,3,1105,Manual,NonMetcolor
10,11,20950,25,31461,Petrol,192,0,0,1800,3,1185,Manual,NonMetcolor
11,12,19950,22,43610,Petrol,192,0,0,1800,3,1185,Manual,NonMetcolor
12,13,19600,25,32189,Petrol,192,0,0,1800,3,1185,Manual,NonMetcolor
13,14,21500,31,23000,Petrol,192,1,0,1800,3,1185,Manual,Metcolor
14,15,22500,32,34131,Petrol,192,1,0,1800,3,1185,Manual,Metcolor

In [12]:
arun_carsales.tail()

#last 5 rows by default

,Unnamed: 0,Price,Age,KM,FuelType,HP,MetColor,Automatic,CC,Doors,Weight,AutoType,MetColorType
1431,1432,7500,69,20544,Petrol,86,1,0,1300,3,1025,Manual,Metcolor
1432,1433,10845,72,19000,Petrol,86,0,0,1300,3,1015,Manual,NonMetcolor
1433,1434,8500,71,17016,Petrol,86,0,0,1300,3,1015,Manual,NonMetcolor
1434,1435,7250,70,16916,Petrol,86,1,0,1300,3,1015,Manual,Metcolor
1435,1436,6950,76,1,Petrol,110,0,0,1600,5,1114,Manual,NonMetcolor

In [13]:
arun_carsales.shape

# Number of rows (observations) & Number of columns (Variables)

(1436, 13)

In [14]:
arun_carsales.dtypes 

# Individual variable data types
# Data Types are - int64, float64, number, Object, datetime

Unnamed: 0       int64
Price            int64
Age              int64
KM               int64
FuelType        object
HP               int64
MetColor         int64
Automatic        int64
CC               int64
Doors            int64
Weight           int64
AutoType        object
MetColorType    object
dtype: object

In [15]:
arun_carsales.columns

#Name of variables of columns

Index(['Unnamed: 0', 'Price', 'Age', 'KM', 'FuelType', 'HP', 'MetColor',
       'Automatic', 'CC', 'Doors', 'Weight', 'AutoType', 'MetColorType'],
      dtype='object')

In [16]:
# Indexing - Accessing Specific Columns or Rows of Dataframe
# Character Indexing - Indexing by column Name
# Column Name must exactly match or else 'not found' error
# 2 Methods - 1) df.columnname     2) df['columnname']

arun_carsales.Price.head()

# If there is space in Column name . will not work, square brackets must be used

0    13500
1    13750
2    13950
3    14950
4    13750
Name: Price, dtype: int64

In [17]:
arun_carsales['Price'].head()

0    13500
1    13750
2    13950
3    14950
4    13750
Name: Price, dtype: int64

In [18]:
arun_carsales['Price'].head(10)

0    13500
1    13750
2    13950
3    14950
4    13750
5    12950
6    16900
7    18600
8    21500
9    12950
Name: Price, dtype: int64

In [19]:
# Character Indexing - Multiple Coulmns - Use double square breackets [[]]

arun_carsales[['Price','Age','KM']].head()


# First Sq brackets for subsetting
# Second Sq brackets - Multiple arguements must be given in Array/List

   Price  Age     KM
0  13500   23  46986
1  13750   23  72937
2  13950   24  41711
3  14950   26  48000
4  13750   30  38500

In [20]:
# Numeric Indexing - Accessing by column number

arun_carsales.iloc[:,1].head()

# :, before is column Indexing

0    13500
1    13750
2    13950
3    14950
4    13750
Name: Price, dtype: int64

In [21]:
# Accessing Multiple Columns - Numeric Indexing

arun_carsales.iloc[:,[1,2,3,9]].head()

#iloc : Index Location

   Price  Age     KM  Doors
0  13500   23  46986      3
1  13750   23  72937      3
2  13950   24  41711      3
3  14950   26  48000      3
4  13750   30  38500      3